In [30]:
import pandas as pd
# import numpy as np
import scipy 
from scipy import stats
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [21]:
f=pd.read_csv("LabTAT.csv")
f

     Laboratory1  Laboratory2  Laboratory3  Laboratory4
0         185.35       165.53       176.70       166.13
1         170.49       185.91       198.45       160.79
2         192.77       194.92       201.23       185.18
3         177.33       183.00       199.61       176.42
4         193.41       169.57       204.63       152.60
..           ...          ...          ...          ...
115       178.49       170.66       193.80       172.68
116       176.08       183.98       215.25       177.64
117       202.48       174.54       203.99       170.27
118       182.40       197.18       194.52       150.87
119       182.09       215.17       221.49       162.21

[120 rows x 4 columns]

In [6]:
f.columns="Laboratory 1","Laboratory 2","Laboratory 3","Laboratory 4"

In [24]:
#HO:data is normally distributed
#HA:data is not nrmally distributed
#if pval>0.05 accept H0
print(stats.shapiro(f.Laboratory1))
print(stats.shapiro(f.Laboratory2))
print(stats.shapiro(f.Laboratory3))
print(stats.shapiro(f.Laboratory4))

ShapiroResult(statistic=0.9901824593544006, pvalue=0.5506953597068787)
ShapiroResult(statistic=0.9936322569847107, pvalue=0.8637524843215942)
ShapiroResult(statistic=0.9886345267295837, pvalue=0.4205053448677063)

In [38]:
#HO:variance is equal
#HA:variance is not equal
#if pval>0.05 accept H0
print(stats.levene(f.Laboratory1,f.Laboratory2 ))#variance is equal
print(stats.levene(f.Laboratory2,f.Laboratory3))#variance is equal
print(stats.levene(f.Laboratory3,f.Laboratory4))#variance is   equal
print(stats.levene(f.Laboratory3,f.Laboratory4))#variance is   equal

LeveneResult(statistic=3.5495027780905763, pvalue=0.06078228171776711)
LeveneResult(statistic=0.9441465124387124, pvalue=0.33220021420602397)
LeveneResult(statistic=2.037958464521512, pvalue=0.15472618294425391)
LeveneResult(statistic=2.037958464521512, pvalue=0.15472618294425391)

In [42]:
#HO:groups mean is equal
#HA:groups mean is not equal
#if pval>0.05 accept H0
mod=ols('f.Laboratory1~(f.Laboratory2+f.Laboratory3+f.Laboratory4)',data=f).fit()
aov_table=sm.stats.anova_lm(mod)
print(aov_table)
stats.f_oneway(f.iloc[:,0], f.iloc[:,1],f.iloc[:,2],f.iloc[:,3])
#mean is not equal
#there is   difference in average TAT among the different laboratories at 5% significance level.

                  df        sum_sq     mean_sq         F    PR(>F)
f.Laboratory2    1.0    332.030416  332.030416  1.940311  0.166299
f.Laboratory3    1.0    203.853111  203.853111  1.191271  0.277335
f.Laboratory4    1.0    265.614707  265.614707  1.552192  0.215323
Residual       116.0  19850.186366  171.122296       NaN       NaN

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)