In [5]:
import pandas as pd
from scipy import stats

In [2]:
f=pd.read_csv('Faltoons.csv')
f

    Weekdays Weekend
0       Male  Female
1     Female    Male
2     Female    Male
3       Male  Female
4     Female  Female
..       ...     ...
395   Female    Male
396   Female  Female
397   Female  Female
398   Female    Male
399   Female  Female

[400 rows x 2 columns]

In [3]:
s=pd.crosstab(f['Weekdays'],f['Weekend'])
s

Weekend   Female  Male
Weekdays
Female       167   120
Male          66    47

In [12]:
ch_r=stats.chi2_contingency(s)
ch_r

(0.005274808283592733,
 0.9421022439386241,
 1,
 array([[167.1775, 119.8225],
        [ 65.8225,  47.1775]]))

In [13]:
p_val=ch_r[2]
alpha=0.05

In [16]:
if p_val>alpha:
    print("all proportions are equal")
else:
    print ("all proportions are not equal")

all proportions are equal