In [37]:
import pandas as pd
from scipy import stats

In [2]:
f=pd.read_csv('Costomer+OrderForm.csv')
f

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [16]:
s=f.apply(pd.Series.value_counts)
s

            Phillippines  Indonesia  Malta  India
Error Free           271        267    269    280
Defective             29         33     31     20

In [41]:
chi_r= stats.chi2_contingency(s.iloc[:,1:])
chi_r

(3.860294117647059,
 0.14512685472974943,
 2,
 array([[272., 272., 272.],
        [ 28.,  28.,  28.]]))

In [42]:
chi_r[3]

array([[272., 272., 272.],
       [ 28.,  28.,  28.]])

In [45]:
p_val= chi_r[1]
alpha=0.05

In [46]:

if p_val<=alpha:
    print("Reject H0,defective %  varies by centre")
else:
    print("Retain H0,defective %  same in all centre")

Retain H0,defective %  same in all centre